:root{
    --White: hsl(0, 0%, 100%);
    --Light-grey: hsl(217, 12%, 63%);
    --Medium-grey: hsl(222, 7%, 26%);
    --Dark-blue: hsl(213, 19%, 18%);
    --Very-dark-blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--Very-dark-blue);
    color: var(--Light-grey);
    font-family: 'Overpass', sans-serif;
    

}

#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    background: var(--Dark-blue);
    border-radius: 20px;
}

#estrela{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 24px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--Medium-grey);
}

#text{
    margin: 10px;
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
    
}

#text h1{
    color: var(--White);
}

#numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: center;
    gap: 16px;
}

#numeros p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--Medium-grey);
    border-radius: 50%;
    align-items: center;
    
}

button{
    margin: 24px;
    padding: 10px;
    background-color: var(--Orange);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: var(--White);
}